@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.2s ease;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}